@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_navbar";

}
<link rel="stylesheet" href="~/css/nomission.css" />


<div class=" container text-center no-mission  ">
    <h1> No Mission found</h1>
    <a type="button" class="btn submitnew  mt-2 mb-2" aspi-area="" asp-controller="Home" asp-action="landingpage">
        Submit New Mission
        <img src="~/images/right-arrow.png" />
    </a>

</div>
<partial name="_relatedmission_partial" />

