<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
   
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="~/css/navbar.css">


</head>
<body>
    <div class=" mainheader fixed-top">

        <nav class="navbar navbar-expand-md navbar-light  header  pb-1" aria-label="Eighth navbar example">
            <div class="container">

                <button class="btn  hamburger " type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <img src="~/images/list1.png">
                </button>


                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                     aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header">
                        <h2 class="mt-2 me-2">CI-PLATFORM</h2>
                        <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body navbar-nav me-auto mb-2 mb-lg-0 align-self-center">

                        <div class=" dropdown text-end ">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/images/user-img.png" alt="mdo" width="40" height="40" class="rounded-circle">
                                <span class="txt text-dark">Evan Donohue</span>
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>



                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Story</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Policy</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

                <h2 class="nav-brand ms-3 me-auto">CI-PLATFORM</h2>
                <ul class="navbar-nav  navbar1  me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Story</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Policy</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="dropdown text-end userprofile ">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="~/images/user-img.png" alt="mdo" width="40" height="40" class="rounded-circle">
                        <span class="txt text-dark">Evan Donohue</span>
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>

            </div>
        </nav>


        <!-- navbar-2 -->

        <nav class="navbar navbar-expand-md navbar-lighte  header2" aria-label="Second navbar example">
            <div class="container">
                <div class="col-9 col-lg-6 col-md-5 me-2   ">
                    <form role="search" class="d-flex">
                        <!-- <img src="../HTML/images/search.png" height="22px" width="21px"class="mt-2">? -->
                        <i class="bi bi-search mt-2"></i>
                        <input class="form-control" type="search" placeholder="Search mission....." aria-label="Search "
                               class="searchbox">
                    </form>
                </div>

                <button class="btn hamburger" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#filteroffcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <img src="~/images/filter.png">
                </button>





                <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="filteroffcanvasWithBothOptions"
                     aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header">

                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown mt-3">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Country
                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="INDIA" id="" name="INDIA" aria-label="Checkbox for following text input">
                                    INDIA
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="USA" id="" name="USA" aria-label="Checkbox for following text input">
                                    USA
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="US" id="" name="US" aria-label="Checkbox for following text input">
                                    US
                                </div>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                City
                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="GONDAL" id="" name="GONDAL" aria-label="Checkbox for following text input">
                                    GONDAL
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="RAJKOT" id="" name="RAJKOT" aria-label="Checkbox for following text input">
                                    RAJKOT
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="SURAT" id="" name="SURAT" aria-label="Checkbox for following text input">
                                    SURAT
                                </div>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Enviroment" id="" name="Enviroment" aria-label="Checkbox for following text input">
                                    Enviroment
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Children" id="" name="Children" aria-label="Checkbox for following text input">
                                    Children
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Animal" id="" name="Animal" aria-label="Checkbox for following text input">
                                    Animal
                                </div>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Skill
                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Computer Science" id="" name="Computer Science" aria-label="Checkbox for following text input">
                                    Computer Science
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Music" id="" name="Music" aria-label="Checkbox for following text input">
                                    Music

                                    <div>
                                        <input class="form-check-input mt-1 ms-2" type="checkbox" value="History" id="" name="History" aria-label="Checkbox for following text input">
                                        History
                                    </div>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="seconddiv col-lg-6 col-md-7">
                    <ul class="navbar-nav">


                        <li class="nav-item col-lg-3 col-md-3  dropdown filterdiv">
                            <a class="nav-link dropdown d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <p class="me-auto mt-1"> Country </p>
                                <img src="~/images/drop-down.png" height="10%" width="10%" class="mt-3 ">

                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="INDIA" id="" name="INDIA" aria-label="Checkbox for following text input">
                                    INDIA
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="USA" id="" name="USA" aria-label="Checkbox for following text input">
                                    USA
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="US" id="" name="US" aria-label="Checkbox for following text input">
                                    US
                                </div>


                            </ul>
                        </li>

                        <li class="nav-item col-lg-3  col-md-3 dropdown filterdiv">
                            <a class="nav-link dropdown d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <p class="me-auto mt-1 "> City </p>
                                <img src="~/images/drop-down.png" height="10%" width="10%" class="mt-3 ">
                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="GONDAL" id="" name="GONDAL" aria-label="Checkbox for following text input">
                                    GONDAL
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="RAJKOT" id="" name="RAJKOT" aria-label="Checkbox for following text input">
                                    RAJKOT
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="SURAT" id="" name="SURAT" aria-label="Checkbox for following text input">
                                    SURAT
                                </div>
                            </ul>
                        </li>

                        <li class="nav-item col-lg-3  col-md-3 dropdown filterdiv">
                            <a class="nav-link dropdown d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <p class="me-auto mt-1 "> Theme </p>
                                <img src="~/images/drop-down.png" height="10%" width="10%" class="mt-3">
                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Enviroment" id="" name="Enviroment" aria-label="Checkbox for following text input">
                                    Enviroment
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Children" id="" name="Children" aria-label="Checkbox for following text input">
                                    Children
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Animal" id="" name="Animal" aria-label="Checkbox for following text input">
                                    Animal
                                </div>

                            </ul>
                        </li>


                        <li class="nav-item  col-lg-3 col-md-3 dropdown filterdiv">
                            <a class="nav-link dropdown d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <p class="me-auto  mt-1   "> Skill </p>
                                <img src="~/images/drop-down.png" height="10%" width="10%" class="mt-3 ">
                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Computer Science" id="" name="Computer Science" aria-label="Checkbox for following text input">
                                    Computer Science
                                </div>
                                <div>
                                    <input class="form-check-input mt-1 ms-2" type="checkbox" value="Music" id="" name="Music" aria-label="Checkbox for following text input">
                                    Music

                                    <div>
                                        <input class="form-check-input mt-1 ms-2" type="checkbox" value="History" id="" name="History" aria-label="Checkbox for following text input">
                                        History
                                    </div>
                            </ul>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
    </div>
    
        <main>
            @RenderBody()
        </main>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
</body>
</html>