
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/_relatedmission_partial.css" />
</head>
<body>

    <div class="container related ">
        <hr style="border:2px solid black;" />
        <h1 class="text-center"> Related Mission</h1>
        <div class="row ltg">

            <div class="missioncard col-12 col-md-6 col-lg-4">
                <div class="card">



                    <div class="img-event">
                        <img class="card-img-top missionimg"
                             src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">

                        <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>

                        <div class="landing-page-bottom-right d-flex flex-column">
                            <button class="mb-2 landing-page-btn-img">
                                <img src="~/images/heart.png" alt="">
                            </button><button class="landing-page-btn-img">
                                <img src="~/images/user.png" alt="">
                            </button>
                        </div>

                        <button class="theme-btn ">Environment</button>
                    </div>




                    <div class="card-body">
                        <h5 class="card-title mt-3">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                        </p>
                        <div class="d-flex">
                            <p class="me-auto">Tree canada</p>
                            <div>
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/star.png" alt="">
                                <img src="../HTML/images/star.png" alt="">

                            </div>
                        </div>

                        <!-- <hr>
                        <button class="btn-time"> From 10/01/2019 until 25/02/2019</button> -->
                        <div class="rule d-flex mt-1">
                            <hr>
                            <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>

                        <div class="d-flex ">
                            <div class="d-flex me-auto  col-6">
                                <img src="~/images/Seats-left.png" alt="" class="mt-2">
                                <div class="ms-2 ">
                                    <fs-2>10</fs-2><br>
                                    <fs-5> seats left</fs-5>
                                </div>
                            </div>
                            <div class="d-flex col-6">
                                <img src="~/images/deadline.png" alt="" class="mt-2">
                                <div class="ms-2 ">
                                    <fs-2>09/01/2019</fs-2><br>
                                    <fs-5>Deadline</fs-5>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="Missionpage">
                            <button type="submit" class="applybtn d-flex">
                                <span class="applytxt">Apply</span>
                                <div>
                                    <img src="~/images/right-arrow.png" alt="" class=" ms-2 ">
                                </div>
                            </button>
                        </a>


                    </div>

                </div>
            </div>


            <div class="missioncard col-12 col-md-6 col-lg-4">
                <div class="card">



                    <div class="img-event">
                        <img class="card-img-top missionimg"
                             src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">

                        <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>

                        <div class="landing-page-bottom-right d-flex flex-column">
                            <button class="mb-2 landing-page-btn-img">
                                <img src="~/images/heart.png" alt="">
                            </button><button class="landing-page-btn-img">
                                <img src="~/images/user.png" alt="">
                            </button>
                        </div>

                        <button class="theme-btn ">Environment</button>
                    </div>



                    <div class="card-body">
                        <h5 class="card-title mt-3">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                        </p>
                        <div class="d-flex">
                            <p class="me-auto">Tree canada</p>
                            <div>
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/star.png" alt="">
                                <img src="../HTML/images/star.png" alt="">

                            </div>
                        </div>

                        <!-- <hr>
                        <button class="btn-time"> From 10/01/2019 until 25/02/2019</button> -->
                        <div class="rule d-flex mt-1">
                            <hr>
                            <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>

                        <div class="d-flex ">
                            <div class="d-flex me-auto  col-6">
                                <img src="~/images/Seats-left.png" alt="" class="mt-2">
                                <div class="ms-2 ">
                                    <fs-2>10</fs-2><br>
                                    <fs-5> seats left</fs-5>
                                </div>
                            </div>
                            <div class="d-flex col-6">
                                <img src="~/images/deadline.png" alt="" class="mt-2">
                                <div class="ms-2 ">
                                    <fs-2>09/01/2019</fs-2><br>
                                    <fs-5>Deadline</fs-5>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="nomission">
                            <button type="submit" class="applybtn d-flex">
                                <span class="applytxt">Apply</span>
                                <div>
                                    <img src="~/images/right-arrow.png" alt="" class=" ms-2 ">
                                </div>
                            </button>
                        </a>


                    </div>

                </div>
            </div>


            <div class="missioncard col-12 col-md-6 col-lg-4">
                <div class="card">



                    <div class="img-event">
                        <img class="card-img-top missionimg"
                             src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">

                        <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>

                        <div class="landing-page-bottom-right d-flex flex-column">
                            <button class="mb-2 landing-page-btn-img">
                                <img src="~/images/heart.png" alt="">
                            </button><button class="landing-page-btn-img">
                                <img src="~/images/user.png" alt="">
                            </button>
                        </div>

                        <button class="theme-btn ">Environment</button>
                    </div>




                    <div class="card-body">
                        <h5 class="card-title mt-3">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                        </p>
                        <div class="d-flex">
                            <p class="me-auto">Tree canada</p>
                            <div>
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/selected-star.png" alt="">
                                <img src="../HTML/images/star.png" alt="">
                                <img src="../HTML/images/star.png" alt="">

                            </div>
                        </div>

                        <!-- <hr>
                        <button class="btn-time"> From 10/01/2019 until 25/02/2019</button> -->
                        <div class="rule d-flex mt-1">
                            <hr>
                            <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>

                        <div class="d-flex ">
                            <div class="d-flex me-auto  col-6">
                                <img src="~/images/Seats-left.png" alt="" class="mt-2">
                                <div class="ms-2 ">
                                    <fs-2>10</fs-2><br>
                                    <fs-5> seats left</fs-5>
                                </div>
                            </div>
                            <div class="d-flex col-6">
                                <img src="~/images/deadline.png" alt="" class="mt-2">
                                <div class="ms-2 ">
                                    <fs-2>09/01/2019</fs-2><br>
                                    <fs-5>Deadline</fs-5>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="nomission">
                            <button type="submit" class="applybtn d-flex">
                                <span class="applytxt">Apply</span>
                                <div>
                                    <img src="~/images/right-arrow.png" alt="" class=" ms-2 ">
                                </div>
                            </button>
                        </a>


                    </div>

                </div>
            </div>

            </div>
    </div>

</body>
</html>