.storylistingcontainer{
    margin-top: 100px;
}
.storyheader {
    background: url(../images/Grow-Trees-On-the-path-to-environment-sustainability-login.png) no-repeat center center/cover;
    
    z-index: 1;
    color: white;
    position: relative;
    overflow:  hidden;
    width: 100vw;
    height: 40vh;
}
    .storyheader::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        /* background-image: linear-gradient(60deg,#29323c,#485563 100%); */
        /*background-image: linear-gradient( to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), transparent );*/
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.5887605042016807) 0%, rgba(66,66,69,1)  98%);
        opacity: .6;
        z-index: -1;
    }
.storyheaderbtn{
    border:1px solid white;
    color:white!important;
    text-decoration:none!important;
    

}

.storyimg{
    position:relative;
}

.img-event {
    position: relative;
    text-align: center;
    color: black;
}
.theme-btn {
    border-radius: 22px;
    background-color: white;
    border: white;
   
;
    
}
.img-event:hover .btn-view{
    display:block;
}
.btn-view {
    display: none;
    background: #fafafa00;
    border: 1px solid white;
    color: white !important;
    text-decoration: none !important;
    opacity:1;

}
/*.img-event:hover .storyimg{
    opacity:0.5;

}*/
.storyuserphoto{
    border-radius:50px;
  height:50px;
  width:50px;

}
.ABC {
    opacity: 0;
   
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.5887605042016807) 0%, rgba(66,66,69,1)  98%);
}
    .ABC:hover {
        opacity: 0.7;
       
    }
.pagination {
    justify-content: center !important;
    display: flex !important;
}

.active > .page-link, .page-link.active {
    background-color: #F88634;
    border-color: #F88634;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #F88634;
    border-color: #F88634;
}

.page-link {
    color: #757575;
}
